<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :name, class: 'control-label col-sm-3' %>
  <div class="col-sm-9">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, class: 'control-label col-sm-3' %>
  <div class="col-sm-9">
    <%= f.text_field :email, class: 'form-control' %>
  </div>
</div>

<% if @user.new_record? %>
  <div class="form-group">
    <%= f.label :password, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>
<% end %>

<% if signed_in? && current_user.admin? %>
  <div class="form-group">
    <%= f.label :type, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <div class="col-sm-3 radio">
        <%= f.radio_button :type, 'general' %>
        <%= f.label :type, '一般', value: 'general' %>
      </div>
        <div class="col-sm-3 radio">
        <%= f.radio_button :type, 'admin' %>
        <%= f.label :type, '管理者', value: 'admin' %>
        </div>
          <div class="col-sm-3 radio">
        <%= f.radio_button :type, 'guest' %>
        <%= f.label :type, 'ゲスト', value: 'guest' %>
      </div>
    </div>
  </div>
<% end %>
