<h1>イベント一覧</h1>

<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <% @events.each do |event| %>
          <%= link_to event, {class: 'list-group-item', style:'margin-bottom:20px;'} do %>
              <% if event.find_invitation_by_user(current_user).present? and event.find_invitation_by_user(current_user).attendance? %>
                  <span class="label label-primary glyphicon glyphicon-user">参加</span>
              <% else %>
                  <span class="label label-default glyphicon glyphicon-user">欠席</span>
              <% end %>
              <h4 class="list-group-item-heading">
                <%= event.title %>
              </h4>
              <div class="row">
                <div class="col-md-6">
                  <% if event.is_over_several_days? %>
                      <p class="list-group-item-text">
                        日時：<%= event.datetime %>
                      </p>
                  <% else %>
                      <p class="list-group-item-text">
                        日時：<%= event.date %>
                      </p>
                      <p class="list-group-item-text">
                        時刻：<%= event.time %>
                      </p>
                  <% end %>
                  <p class="list-group-item-text">
                    場所：<%= event.location %>
                  </p>
                </div>
                <div class="col-md-6">
                  <% if event.wanted_persons %>
                      <p class="list-group-item-text">
                        募集：<%= event.wanted_persons %> 名︎
                      </p>
                      <p class="list-group-item-text">
                        残り：<%= event.remain %> 名︎
                      </p>
                  <% else %>
                      <p class="list-group-item-text">
                        参加：<%= event.attendance %> 名︎
                      </p>
                  <% end %>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
    <%= will_paginate @events %>
  </div>
</div>