<h1>イベント一覧</h1>

<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <% @events.each do |event| %>
          <% if event.find_invitation_by_user(current_user).present? and event.find_invitation_by_user(current_user).attendance? %>
              <%= link_to "参加", '#', class: "btn btn-primary glyphicon glyphicon-user" %>
          <% else %>
              <%= link_to "欠席", '#', class: "btn btn-default glyphicon glyphicon-user" %>
          <% end %>
          <%= link_to event, {class: 'list-group-item', style:'margin-bottom:20px;'} do %>
              <!--<% if event.find_invitation_by_user(current_user).present? and event.find_invitation_by_user(current_user).attendance? %>-->
                  <!--<span class="label label-default glyphicon glyphicon-user">欠席</span>-->
              <!--<% else %>-->
                  <!--<span class="label label-primary glyphicon glyphicon-user">参加</span>-->
              <!--<% end %>-->
              <h4 class="list-group-item-heading">
                <%= event.title %>
              </h4>
              <div class="row">
                <div class="col-md-6">
                  <p class="list-group-item-text">
                    日時：<%= event.start_time.strftime('%Y/%m/%d') %> - <%= event.end_time.strftime('%Y/%m/%d') %>
                  </p>
                  <p class="list-group-item-text">
                    時刻：<%= event.start_time.strftime('%H:%M') %> - <%= event.end_time.strftime('%H:%M') %>
                  </p>
                  <p class="list-group-item-text">
                    場所：<%= event.location %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p class="list-group-item-text">
                    募集：<%= event.wanted_persons %> 名︎
                  </p>
                  <p class="list-group-item-text">
                    残り：○○ 名︎
                  </p>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
    <%= will_paginate @events %>
  </div>
</div>