<h1>All events</h1>

<ul class="events">
  <% @events.each do |event| %>
      <li><%= event.title %> | <%= event.location %> | <%= event.start_time %> | <%= event.end_time %></li> | <%= event.create_id %>
  <% end %>
</ul>
