<% provide(:title, 'create event') %>
<h1>イベント作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%=	form_for @event, class: 'form-horizontal', role: 'form' do |f| %>
        <%	if @event.errors.any? %>
            <div class="alert alert-danger">
              <ul>
                <% @event.errors.full_messages.each do |msg| %>
                    <li><%=	msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :location %>
          <%= f.text_field :location, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :start_time %>
          <div class='input-group date datepicker'>
            <%= f.text_field :start_time, class: 'form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :end_time %>
          <div class='input-group date datepicker'>
            <%= f.text_field :end_time, class: 'form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :wanted_persons %>
          <%= f.text_field :wanted_persons, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control', row: 10 %>
        </div>
        <%=	f.submit '作成', class: 'btn btn-lg btn-primary', data: { disable_with: '作成中･･･' } %>
    <% end %>
  </div>
</div>