<% provide(:title, @event.title) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @event.title %> | <%= @event.location %> | <%= @event.start_time %> | <%= @event.end_time %> | <%= @event.create_id %>
      </h1>
    </section>
  </aside>
</div>
