<% provide(:title, @event.title) %>
<h1>イベント詳細</h1>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @event.title %>
      </div>
      <div class="panel-body">
        場所：<%= @event.location %>
      </div>
      <% if @event.is_over_several_days? %>
          <div class="panel-body">
            日時：<%= @event.datetime %>
          </div>
      <% else %>
          <div class="panel-body">
            日時：<%= @event.date %>
          </div>
          <div class="panel-body">
            時刻：<%= @event.time %>
          </div>
      <% end %>
      <% if @event.wanted_persons %>
          <div class="panel-body">
            募集：<%= @event.wanted_persons %> 名
          </div>
      <% end %>
      <div class="panel-body">
        参加：<%= @event.attendance %> 名
      </div>
      <% if @event.wanted_persons %>
          <div class="panel-body">
            残り：<%= @event.remain %> 名
          </div>
      <% end %>
      <div class="panel-body">
        備考：<%= @event.description %>
      </div>
      <div class="panel-body">
        作成者：<%= @event.create_user.name %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to '戻る', :back , class: 'btn btn-primary' %>
    <% if current_user.admin? %>
        <%= link_to '編集', edit_event_path(@event), class: 'btn btn-primary' %>
        <%= link_to '削除', event_path(@event), class: 'btn btn-danger', method: :delete, data: { confirm: '削除してよろしいですか？'} %>
        <%= link_to '出欠一覧', invitations_event_path(@event), class: 'btn btn-primary' %>
    <% end %>
    <% if @event.invitees?(current_user) %>
        <%= link_to '出欠登録', invitation_path(@event.find_invitation_by_user(current_user)), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
