<% provide(:title, '出欠登録') %>
<h1>出欠登録</h1>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @invitation.event.title %>
    </div>
    <div class="panel-body">
      場所：<%= @invitation.event.location %>
    </div>
    <div class="panel-body">
      日時：<%= @invitation.event.start_time.strftime('%Y/%m/%d') %> - <%= @invitation.event.end_time.strftime('%Y/%m/%d') %>
    </div>
    <div class="panel-body">
      時刻：<%= @invitation.event.start_time.strftime('%H:%M') %> - <%= @invitation.event.end_time.strftime('%H:%M') %>
    </div>
    <div class="panel-body">
      備考：<%= @invitation.event.description %>
    </div>
    <div class="panel-body">
      作成者：<%= @invitation.event.create_user.name %>
    </div>
  </div>
</div>

<%= form_for @invitation, class: 'form-horizontal', role: 'form' do |f| %>
<div class="col-md-12">
  <div class="panel panel-<%= panel_color_by_status @invitation %>">

    <div class="panel-heading"><%= @invitation.user.name %>の出欠</div>

    <div class="panel-body row">
      <div class="col-md-3">
        <%=	f.submit '出席', name: 'attendance', class: 'btn btn-lg btn-success' + attendance_active(@invitation),
                      data: { disable_with: '更新中･･･' } %>
      </div>
      <div class="col-md-3">
        <%=	f.submit '欠席', name: 'absence',    class: 'btn btn-lg btn-danger' + absence_active(@invitation),
                      data: { disable_with: '更新中･･･' } %>
      </div>
    </div>

    <div class="panel-body">
      <div class=" form-group">
        <%= f.label :comment %>
        <%= f.text_area :comment, class: 'form-control ', rows: 3, value: @invitation.comment %>
      </div>
    </div>

  </div>
</div>
<% end %>